.containerSlider {
    max-width: 100%;
    height: 800px;
    margin: 0 auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 700px){
    .container-slider {
      margin: 100px 10px 0;
    }
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .activeAnim {
    opacity: 1;
  }
  
  .btnSlide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // background: #f1f1f1;
    border: 1px solid transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  
  .containerDots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    // background: #f1f1f1;
    cursor: pointer;

  }
  .dot.active {
    // background: rgb(255, 255, 255);
    cursor: pointer;
  }
  



  //::::::::::::::::::::::::::::::::::::: Ctegories ::::::::::::::::::::::::::::::::::::: 

  .card{
    padding: 1rem ;
    border-radius: 7px;
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
  }
  
  .cardWomen{
    border-radius: 7px;
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
  }
  .cardMen{
    border-radius: 7px;
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    padding-left:  10rem ;
    padding-right: 10rem ;
  }
  .cardsContainer{
    width: 90%;
  }
  .image{
    padding-left: 1rem;
  }
  .imageKid{
    margin-left: 0;
    position: absolute;
    left: 0;
  }
  .TitleKid{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: white;
  }
  .TitleWomen{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: underline;
    color: white;
    position: absolute;
    bottom: 0;
  }
  .TitleMen{
    width: 20%;
    font-size: 25px;
    text-decoration: underline;
    color: white;
  }
  .ImageContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: end;
  }
  .Title{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    color: white;
  }

  @media (max-width: 850px) {

    .cardsContainer{
      display: flex;
      flex-direction: column;
    }

    .ImageCategorie{
      
      // display: none;
      // visibility: hidden;
      // opacity: 0;
      position: absolute;
      bottom: 100px;

    }

    .card , .cardWomen , .cardMen {

      padding: 0;
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }

    .TitleWomen , .TitleKid , .TitleMen , .Title {
      width: 100%;
      height: 100%;
      background-color: red;
    }
  
  }